@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* General */

    * {
        font-family: 'Poppins', sans-serif;
        margin: 0;
        padding: 0;
        scroll-behavior: smooth;
    }

    a {
        text-decoration: none !important;
    }

    body {
        background-color: #1f1f1f;
    }

    nav {
        box-shadow: 0px 0px 10px #000;
    }

    nav ul { 
        height: 7.5vh;
        background-color: #91825d;
        color: #fff;
        font-size: 25px;
        padding-inline: 20%;

        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    nav li {
        list-style-type: none !important;
    }

    nav li .active {
        border-bottom: 2px solid #ffffff;
    }

    nav a {
        border-bottom: 2px solid transparent;
        transition-duration: 350ms;
    }

    nav a:hover {
        border-bottom: 2px solid #fff;
        transition-duration: 350ms;
    }

    .CSLabs {
        padding-top: 15px;
        padding-inline: 20px;
        display: flex;
        justify-content: space-between;
    }

    .CSLabs svg {
        margin-right: 20px;
    }

    .CSLabs div {
        display: flex;
        align-items: center;
        padding-bottom: 1%;
    }

    .CSLabs div h3 {
        margin-left: -10px;
        margin-right: 10px;
    }

    .CSLabs div svg, .switch, .CSLabs div p {
        margin-inline: 20px;
        color: #fff;
    }

    .CSLabs {
        background-color: #1C2238;
    }

    .CSLabs a, .CSLabs div h2, nav ul li a {
        color: #fff;
    }

    /* Light / Dark Mode */
    .switch {
        position: relative;
        display: inline-block;
        width: 44px;
        height: 24px;
        border: 2px solid white;
        border-radius: 34px;
        overflow: hidden;
    }

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #1b1b1b;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 18px;
        width: 18px;
        left: 3px;
        bottom: 3px;
        background-color: #fdfdfd;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider:before {
        background-color: #1b1b1b;
    }   

    input:checked + .slider {
        background-color: #fdfdfd;
    }

    input:focus + .slider {
        box-shadow: 0 0 3px #fdfdfd;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }

    main {
        display: flex;
        justify-content: center;
    }
    h1 {
        font-size: 64px;
    }

    aside {
        background-color: #1C2238;
        margin-top: 0;
        padding-inline: 5%;
        padding-top: 5%;

        display: flex;
        flex-direction: column;
    }

    .rightSide {
        width: 50%;
        margin-left: 50%;
    }

    .leftSide {
        width: 50%;
        margin-left: 50%;
    }
    
    aside h1 {
        color: #D5C089 !important;
    }

    aside p {
        margin-top: 5%;
        margin-bottom: 5%;
        color: white !important;
    }

    .background {
        background-size: cover;
        background-position: center;

    }

    /* Contact Form */

    .frosted-glass {
        background-color: #1c223880;
        backdrop-filter: blur(5px);
        border-radius: 10px;
        padding: 2.5%;
        padding-inline: 5%;
        width: 50%;
        height: 75%;
        border: 2px solid white;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .frosted-glass p, h1{
        color: #ffffffff;
    }

    .frosted-glass form { 
        padding: 0;
    }

    .frosted-glass p {
        margin-inline: 10%;
    }

    form {
        display: flex;
        flex-direction: row;
        max-width: 500px;
        min-width: 250px;
        width: 100%;
        flex-wrap: wrap;    
    }

    input[type="text"], input[type="email"] {
        padding: 5px;
        background-color: transparent;
        border-bottom: 2px solid #fff !important;
        border: 0px;
        margin-top: 5%;
        margin-inline: 5%;
        width: 35%;
    }

    form input[type="text"] {
        margin-top: 5%;
    }

    #subject {
        width: 77.5%;
        margin-right: 10%;
        border-bottom: 2px solid white;
        padding-left: 5px;
        border-bottom-right-radius: 0px;
    }

    .frosted-glass svg {
        fill: white;
    }

    textarea {
        padding: 5px;
        margin-top: 5px;
        background-color: transparent;
        border: 2px solid #fff !important;
        border-radius: 10px;
        border: 0px;
        width: 77.5%;
        height: 100px;
        margin-top: 10%;
    }

    button[type="submit"] {
        padding: 10px 20px;
        margin-top: 10px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    button[type="submit"]:hover {
        background-color: #45a049;
    }

    textarea::placeholder, input::placeholder{
        color: #fff;
    }

    .weirdBTN {
        width: 100%;
        margin-top: 5%;
        display: flex;
        justify-content: center;
    }

    .mission-statement {
        font-size: 24px;
        color: white;
        font-variant: small-caps;
    }

    .default-btn{
        width: 120px;
        height: 60px;
        border: 2px solid white;
        background-color: #91825d;

        cursor: pointer;
        border-radius: 10px;
        margin-right: 5%;

        transition-duration: 350ms;
    }

    .default-btn svg {
        fill: white;
    }

    .default-btn a {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-evenly;
        color: white;
    }

    .default-btn:hover {
        background-color: #776a4a;
        color: #1C2238;
        transition-duration: 500ms;
    }

    main {
        opacity: 0;
        animation: fadeIn 1s ease-in-out forwards;
    }

    content {
        display: flex;
        justify-content: center;
        height: 100vh;
        flex-wrap: wrap;
        padding-inline: 10%;
    }

    content h1 {
        padding-top: 5%;
        opacity: 0;
        animation: fadeUp 1s ease-in-out forwards;
    }

    content .tri-grid {
        display: grid;
        text-align: center;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5% 5%;
        grid-template-areas: "left center right";
    }

    content .duo-grid {
        display: grid;
        text-align: center;
        grid-template-columns: 1fr 1fr;
        gap: 5% 5%;
        grid-template-areas: "left right";
        padding-inline: 15%;
    }

    content .tri-grid svg, content .duo-grid svg {
        fill: #D5C089 !important;
    }

    content .about {
        text-align: center;
        padding-inline: 25%;
    }

/* Animations */
    @keyframes fadeIn {
        from {
            opacity: 0%;
        }
        to {
            opacity: 100%;
        }
    }

    @keyframes fadeUp {
        from {
            opacity: 0;
            transform: translateY(20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    
    /* Do I want it sticky? Mobile Optimisation for now.. */
    @media (max-width: 768px) {
        header {
            box-shadow: 0px 0px 20px #000;
            position: sticky;
            z-index: 1;
            top: 0;
        }
    }

