/* Theme: Light */
    * {
        color: #1f1f1f;
    }

    body {
        background-color: #f4f4f4e0;
        color: #1f1f1f;
        margin: 0;
        padding: 0;
    }

    header {
        color: #ffffff;
    }

    nav ul {
        background-color: #0000004b;
    }

    nav ul li a {
        border-color: 2px solid black;
        color: #ffffff;
    }